@import "./rose-pine.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono NFM ExtraBold";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: rgba(0,0,0,0.8);
  border: 2px solid @highlightMed;
  border-radius: 8px;
  color: @text;
}

tooltip {
  background: rgba(0,0,0,0.7);
}

#workspaces button {
  padding: 5px;
  color: @highlightMed;
  margin-right: 5px;
}

#workspaces button.active {
  color: @text;
}

#workspaces button.focused {
  color: @subtle;
  background: rgba(0,0,0,0.7);
}

#workspaces button.urgent {
  color: @base;
  background: rgba(0,0,0,0.7);
}

#workspaces button:hover {
  background: rgba(0,0,0,0.7);
  color: @text;
}

#custom-power_profile,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#memory,
#backlight {
  padding: 0px 10px;
  margin-bottom: 3px;
  margin-top: 3px;
}

#memory {
  color: #3e8fb0;
}

#temperature {
  color: @gold;
}

#temperature.critical {
  color: @love;
}

#backlight {
  color: @text;
  margin-right: 5px;
}

#tray {
  margin-left: 0px;
  margin-right: 10px;
}

#workspaces {
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#custom-power_profile {
  color: @foam;
}

#window {
  margin-left: 60px;
  margin-right: 60px;
}

window#waybar.empty #window {
  padding: 0px;
  margin: 0px;
  /*  background-color: rgba(66,66,66,0.5); */ /* transparent */
  background-color: transparent;
}

#clock {
  color: @text;
  margin-left: 5px;
}

#network {
  color: @love;
}

#pulseaudio {
  color: @iris;
}

#battery {
  color: @foam;
  margin-right: 10px;
}


#custom-spotify {
  color: @text;
  padding: 0px 10px;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 3px;
  margin-bottom:3px;
}

#custom-spotify:hover {
  background: rgba(0,0,0,0.7);
  color: @text;
}

#custom-spotify .icon {
  color: @highlightMed;
  margin-right: 5px;
}

#custom-spotify .text {
  color: @text;
}

#custom-spotify .icon.playing {
  color: @love;
}

#custom-spotify .icon.paused {
  color: @subtle;
}

#custom-spotify .icon.error {
  color: @red; /* Adjust color for error state if needed */
}

